{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	.icon-btn {
	    padding: 1px 15px 3px 2px;
	    border-radius:50px;
	}
</style>
<div class="container-fluid">
  	<h3 class="mt-4">INCOME
  		<span>
	  		<button type="button" class="btn icon-btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
				<i class="fas fa-plus-circle" style="padding: 5px"></i>
				ADD
			</button>
  		</span>
  		<span style="font-size: 20px;float: right;padding-right: 20px">Total Income: {{total_income}}</span>
  	</h3>
  	<br>
  
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">No.</th>
	      <th scope="col">Date</th>
	      <th scope="col">Source</th>
	      <th scope="col">Type</th>
	      <th scope="col">Mode</th>
	      <th scope="col">Amount</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for income in incomes %}
	    <tr>
	      <th scope="row">{{ forloop.counter }}</th>
	      <td>{{income.date}}</td>
	      <td><a href="{% url 'main:income-update' income.id %}">{{income.source}}</td>
	      <td>{{income.income_type}}</td>
	      <td>{{income.payment_mode}}</td>
	      <td>{{income.amount}}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
<!-- MODAL -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	
    <div class="modal-content" style="padding: 20px">
	     <form method="POST">
	   		{% csrf_token %}
	    	{{ form|crispy }}
	    	<input class="btn btn-primary" type="submit" value="Submit">
		</form>
    </div>
  </div>
</div>
{% endblock %}