{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  	<h3 class="mt-4">MONEY LANDED UPDATE</h3>
  	<form method="POST">
   		{% csrf_token %}
    	{{ form }}
    	<input type="submit" value="Submit">
 	</form>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		
		$( document ).ready(function() {
		    
		    function formatDate (input) {
				  var datePart = input.match(/\d+/g),
				  year = datePart[0], // get only two digits
				  month = datePart[1], day = datePart[2];
				  return day+'/'+month+'/'+year;
			}
			var old_date = $("#id_collection_date").val()
			var date = formatDate(old_date)
			$("#id_collection_date").attr('value',date)

			var old_date = $("#id_date_lended").val()
			var date = formatDate(old_date)
			$("#id_date_lended").attr('value',date)
		});


	</script>
{% endblock %}